body {
  background-color: #0c1116;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-input, .book-btn {
  padding: 1rem;
  margin: 0.06rem;
  border: 2px solid palegoldenrod;
}

.filter-todos {
  padding: 1rem;
  margin: 1rem;
}

p {
  text-align: center;
}

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

.book-list {
  list-style: none;
  min-width: 30%;
  background-color: palegoldenrod;
  color: #33516e;
  font-size: 1.3rem;
}

.books {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.books li {
  flex: 1;
}

.book-delete, .book-completed {
  background-color: palegoldenrod;
  color: #33516e;
  border: 1px solid #33516e;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}